@import '../../../../../assets/styles/settings/colors';

.contact {
  padding: 50px 65px;

  .contactDetails {
    margin: auto;
    width: 80%;
    max-width: 750px;

    border: dashed 1px rgba($text_color, 0.3);
    padding: 40px 50px;

    text-align: center;

    p {
      font-size: 0.9em;
      line-height: 1.4em;
      font-weight: 400;
      margin-bottom: 41px;
    }

    button {
      background: $text_color_strong;
      color: $background_color;
      border: none;
    }
  }
}

@media (max-width: 700px) {
  .contact {
    padding: 50px 25px;

    .contactDetails {
      width: 100%;
      padding: 30px 40px;
    }
  }
}