@import '../../../../../assets/styles/settings/colors';

.about {
  padding: 50px 0;
  margin-top: -225px; // For testing, for now.

  .windowContainer {
    width: 60%;
    max-width: 750px;
    margin: auto auto;
  }
}
