@import '../../../../../assets/styles/settings/colors';

.about {
  padding: 50px 25px;
  margin-top: -225px; // For testing, for now.

  .windowContainer {
    width: 80%;
    max-width: 750px;
    margin: auto auto;
  }
}

@media (max-width: 700px) {
  .about {
    .windowContainer {
      width: 100%;
    }
  }
}