@import '../../../../../../assets/styles/settings/colors';

.project {
  width: 85%;
  max-width: 950px;
  margin: 75px auto;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  .previewContainer {
    width: 60%;
  }

  .windowPreview {
    border-radius: 0 0 5px 5px;
    display: block;
    width: 100%;
  }

  .detailsContainer {
    width: 40%;
    position: relative;

    > div {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120%;
      text-align: right;

      .nameContainer {
        h1 {
          font-size: 1.75em;
          color: $text_color_strong;
        }
      }

      .linkContainer {
        a {
          margin-top: 2px;
          font-size: 1em;
          width: auto;
        }
      }

      .descriptionContainer {
        margin: 0 -15px;

        p {
          margin-top: 15px;
          background: rgba(mix($background_color, $text_color, 97%), 0.95);
          padding: 15px 10px;
          font-size: 0.95em;
        }
      }

      div.skills {
        margin-top: 15px;

        > span {
          font-size: 0.8em;

          &:not(:last-child):after {
            content: '-';
            color: lighten($text_color, 40%);
            margin: 0 5px;
          }
        }
      }
    }
  }

  &.inverseAlign {
    flex-direction: row-reverse;

    .detailsContainer {
      > div {
        left: 0;
        right: auto;
        text-align: left;
      }
    }
  }
}

@media (max-width: 900px) {
  .project {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .project {
    flex-direction: column-reverse !important;
    margin: auto;
    margin-top: 80px;

    .previewContainer {
      width: 95%;
      margin: auto;
    }

    .detailsContainer {
      width: 100%;

      > div {
        position: initial;
        width: 100%;
        text-align: center !important;

        .nameContainer {
          h1 {
            font-size: 1.3em;
          }
        }

        .descriptionContainer {
          margin: 0;

          p {
            background: none;
            padding: 0;
          }
        }
      }
    }

    div.skills {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}